* {
    margin: 0;
    padding:0;
}

body{
    background-color: yellow;
}

.cabecxalho-titulo--dois {
    font-weight: 300;
}
.cabecalho {
    background: blue;
}

.cabecalho_lista {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    
}
.cabecalho_lista-item{
    margin: 0 12px;
    
}
.cabecalho__lista-item{
    text-decoration: none;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}